@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #A9DEAC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    width: 1000px;
    outline: 4px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    background-color: #2F9915;
    margin: 30px;
    padding: 20px;
    border-radius: 50px;
}

a:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px 2px rba(0,0,0,0.2);
}

.logo {
    display: block;
    position: relative;
    height: 33%;
    width: 33%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.logoContainer {
    margin: 1rem 0;
    position: relative;
    margin-bottom: 0.5rem;
}

.mainTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
}

.subTitle {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: black;
}

@media (max-width: 600px){
    body {
        background-size: 100%;
    }
    .logo img {
        width: 200px;
    }
}